<!DOCTYPE html>
<html>
<head>
<title>IO Versions</title>
<%- include('partial/bootstrapIncludes') %>
</head>

<body>
<%- include('partial/header'); %>

<div class="container-fluid">
    <% for (app of applications) { %>
        <h3><%= app.name %></h3>
        <ul>
            <% for (version of app.versions) { %>
                <li><%= version.version %></li>
            <% } %>
        </ul>
    <% } %>
</div>

<%- include('partial/footer') %>
</body>

</html>