<!DOCTYPE html>
<html>
<head>
<title>IO Versions</title>
<%- include('partial/include-resources') %>
<script src="/public/applications.js"></script>
</head>

<body>
<%- include('partial/header'); %>

<div class="container-xl my-md-4">
    <div class="row">
        <div class="col-2">
            <ul>
                <% for (app of applications) { %>
                    <li>
                        <a href="/applications/<%= app.id %>"><%= app.name %></a>
                        <ul>
                            <% for (version of app.versions) { %>
                                <li><%= version.version %></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
            <div class="input-group" id="createApp">
                <input type="text" placeholder="Application" name="name" aria-label="First name" class="form-control">
                <button class="btn btn-outline-primary" type="submit">+</button>
            </div>
        </div>
        <div class="col-6">
                coll 2
        </div>
        <div class="col-2">
            <ul>
                <% for (env of environments) { %>
                    <li>
                        <a href="/environments/<%= env.id %>"><%= env.name %></a>
                        <ul>
                            <% for (version of env.versions) { %>
                                <li><%= version.version %></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="col-2">
            coll 2
    </div>
    </div>
</div>

<%- include('partial/footer') %>
</body>

</html>