<!DOCTYPE html>
<html>
<head>
<title>IO Versions</title>
<%- include('partial/include-resources') %>
</head>

<body>
<%- include('partial/header'); %>

<div class="container-xl  my-md-4">
    <h3>Application: <%= application.name %></h3>
    <ul>
    <% for (version of application.versions) { %>
        <li><%= version.version %></li>
    <% } %>
    </ul>
</div>

<%- include('partial/footer') %>
</body>

</html>