<!DOCTYPE html>
<html class="h-100">
<head>
<title>IO Versions - rules</title>
<%- include('partial/include-resources') %>
<%- include('partial/load-page-resources', { pageName: 'applications' } ) %>
</head>
<body class="applicaiont-page">
<%- include('partial/header'); %>
<div class="container-fluid my-md-4">
    <% for (app of applications) { %>
        <div class="row save-app" data-entity="<%= JSON.stringify(app) %>">
            <div class="col-3">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" value="<%= app.name %>">
                    <button type="button" class="btn btn-primary" value="save">
                        <i class="bi bi-save"></i>
                    </button>
                    <button type="button" class="btn btn-danger" value="remove">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </div>
                <input type="hidden" name="isActive" value="true">
            </div>
            <div class="col-9">

            </div>
        </div>
        <br>
    <% } %>
    <div class="row save-app">
        <div class="col-3">
            <div class="input-group">
                <input type="text" placeholder="" name="name" class="form-control">
                <button type="button" disabled class="btn btn-primary" value="save">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <button type="button" disabled class="btn btn-danger" value="remove">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </div>
        </div>
        <input type="hidden" name="isActive" value="true">
    </div>
</div>
<%- include('partial/footer') %>
</body>
</html>